
/**
Body style
*/



#content-container {
    display: block;
    min-width: 300px;
    max-width: 900px;
    margin: auto;
    align-items: center;
    align-content: center;
    justify-content: center;
    padding-top: 5px;
}



#content-container article{
    background-color: #ffffff;
    min-width: 300px;
}


#content-container h1 {
    text-align: center;
    font-size: 45px;
}


#content-container h2 {
    text-align: center;
}

#content-container img {
    display: block;
    margin: auto;
    min-width: 300px;
    min-height: 300px;
}

#content-container p {
    text-indent: 40px;
}

#content-container pre {
    background: #f4f4f4;
    border: 1px solid #ddd;
    border-left: 3px solid #f36d33;
    color: #212121;
    page-break-inside: avoid;
    font-family: monospace;
    font-size: 15px;
    line-height: 1.8;
    margin-bottom: 1.6em;
    max-width: 100%;
    overflow: auto;
    padding: 1em 1.5em;
    display: block;
    word-wrap: break-word;
    font-weight: 500;
}