body {
    background-color: rgb(233, 237, 241);
}
header {
    background-color: white;
    border-bottom: 1px solid #494848;
    padding: 10px 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
    width: 100%;
}

#header-container {
    display: inline-flex;
    flex-direction: column-reverse;
    flex-wrap: wrap;
    height: 50px;
}


#header-container nav {
    display: inline-flex;
    flex-direction: row;
    flex-wrap: wrap;    
    align-items: flex-start;
}

#header-container nav a {
    color: #333;
    text-decoration: none;
    margin: 0 15px;
    font-weight: bold;
}

#header-container nav a:hover {
    text-decoration: underline;
}

p, a, h1, h2, h3, div, ol, ul, li{
    text-align: justify;
    font-family: 'IBM Plex Mono', monospace;
    font-size: 22px;
    text-decoration: none;
    color:black;
}

article{
    background-color: white;
    padding: 15px;
}