#articles-navigation {
    display: inline-flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    padding-top: 15px;
    width: 100%;
    min-width: 400px;
}

#articles-navigation a {
    width: 300px;
    border-radius: 10%;
    padding: 15px;
}

#articles-navigation img {
    width: 300px;
    border-radius: 10%;
}

#articles-navigation img:hover {
    -moz-box-shadow: 0 0 23px #ccc;
    -webkit-box-shadow: 0 0 23px #ccc;
    box-shadow: 0 0 23px #a5a5a5;
}
