.gameField {
    width: 99%;
    height: 700px;
    position: absolute;
    
}

.tableField {
     border-collapse: collapse;
    border: solid 3px #a321db;
    position: absolute;
    left: 34px;
    top: 74px;
}

.enemyField {
    border-collapse: collapse;
    border: solid 3px red;
    position: relative;
    left: 762px;
    top: 50px;
}



td, tr {
    width: 38.9px;
    height: 40px;
    border: 1.6px solid #a1dddc; 
    background-color: #a7fcfb;
}

.divForShips {
    position: absolute;
    bottom: 0px;
    width: 1000px;
    height: 200px;
    border: 2px dotted black;
}

.oneLenShip {
    position: absolute;
    background-image: url('./../img/oneLen.jpg');
    width: 50px;
    height: 50px;
    left: 50px;
    top:50px;
    text-align: center;
}

.twoLenShip {
    position: absolute;
    background-image: url('./../img/oneLen.jpg');
    width: 50px;
    height: 50px;
    left: 150px;
    top:50px;
    text-align: center;
}


.threeLenShip {
    position: absolute;
    background-image: url('./../img/oneLen.jpg');
    width: 50px;
    height: 50px;
    left: 250px;
    top:50px;
    text-align: center;
}


.fourLenShip {
    position: absolute;
    background-image: url('./../img/oneLen.jpg');
    width: 50px;
    height: 50px;
    left: 350px;
    top:50px;
    text-align: center;
}

.count {
    size: 30px;
    top: 50px;
    position: relative;
}

.isSelected {
    border: dotted 2px black;
}


.cellWithShip{
    background-color: blue;
}

.cellWithHitShip {
    /*background-color: green;*/
    background-image: url("https://i.pinimg.com/originals/04/fa/df/04fadfd611d9e8c38fd02764c6825131.png");
    background-size: 37px,39px ;
    background-repeat: no-repeat;
}

.cellWithHitShip {
    /*background-color: green;*/
    border: solid 3px black;
    background-image: url("https://i.pinimg.com/originals/04/fa/df/04fadfd611d9e8c38fd02764c6825131.png");
    background-size: 37px,39px ;
    background-repeat: no-repeat;
   
}

.cellWithMissedHit {
    background-color: red;
}

.cellMissedClose {
    background-color: yellow;
}

body {
    background-image: url("https://st3.depositphotos.com/2633985/14029/v/600/depositphotos_140299616-stock-illustration-notebook-paper-texture.jpg");
}