.gameField {
    width: 99%;
    height: 700px;
    position: absolute;
    
}

.tableField {
    position: absolute;
    left: 27px;
    top: 74px;
    border: 3px solid black;
}

.enemyField {
    position: relative;
    border: solid 3px red;
    left: 762px;
    top: 50px;
}



td, tr {
    width: 33px;
    height: 33px;
    border: 3px solid #a1dddc; 
    background-color: white;
}

.divForShips {
    border-top: 2px solid black;
    position: absolute;
    width: 99.5%;
    margin-top: 500px;
}

.oneLenShip {
    position: absolute;
    background-image: url('./../img/oneLenShip.PNG');
    background-size: 50px;
    background-repeat: no-repeat;
    width: 50px;
    height: 52px;
    left: 50px;
    top:50px;
    text-align: center;
}

.twoLenShip {
    position: absolute;
    background-image: url('./../img/twoLenShip.jpg');
    background-size: 50px;
    background-repeat: no-repeat;
    width: 50px;
    height: 95px;
    left: 200px;
    top:50px;
    text-align: center;
}


.threeLenShip {
    position: absolute;
    background-image: url('./../img/threeLenShip.jpg');
    background-size: 50px;
    background-repeat: no-repeat;
    width: 50px;
    height: 139px;
    left: 350px;
    top:50px;
    text-align: center;
}


.fourLenShip {
    position: absolute;
    background-image: url('./../img/fourLenShip.jpg');
    background-size: 50px;
    background-repeat: no-repeat;
    width: 50px;
    height: 180px;
    left: 500px;
    top:50px;
    text-align: center;
}

.count {
    size: 30px;
    top: 20px;
    left: 40px;
    font-size: 30px;
    position: relative;
}

.isSelected {
    border: dotted 2px black;
}


.cellWithShip {
    position: relative;
    border-collapse: collapse;
    border-color: black;
    margin-left: -5px;
    margin-top: -5px;
}

.cellWithHitShip {
    border-collapse: collapse;
    border-color: black;
    position: relative;
    margin-left: -15px;
    margin-top: -15px;
    background-image: url("https://i.pinimg.com/originals/04/fa/df/04fadfd611d9e8c38fd02764c6825131.png");
    background-position-x: 2px;
    background-position-y: 5px;
    background-size: 32px,34px ;
    background-repeat: no-repeat;
   
}

.cellWithMissedHit {
    background-color: red;
}

.cellMissedClose {
    background-color: yellow;
}

body {
    background-image: url("https://st3.depositphotos.com/2633985/14029/v/600/depositphotos_140299616-stock-illustration-notebook-paper-texture.jpg");
}


.toDo{
    position: relative;
    left: 500px;
    font-size: 20px;
}


.possiblePlace{
    border: 3px grey solid;
    background-color: gray;
}


.randomHit{
    border: 3px red solid;
}


ol {
    padding-left: 800px;
}