body {
    background-color: #00A08A;
}

.inputSubmit {
    background-color: #FF8F40;
    width: 500px;
    height: 600px;
    margin: auto;
    margin-top: 100px;
}

form {
    font-size: 20px;
    width : 500px;
    padding-left: 20px;
    padding-top: 20px;
  
    -webkit-box-sizing: border-box; /* For legacy WebKit based browsers */
       -moz-box-sizing: border-box; /* For legacy (Firefox <29) Gecko based browsers */         box-sizing: border-box;
}

.formDiv {
    border: 1px solid black;    
    display: grid;
  width: 450px;
  grid-template-columns: 120px 120px 120px;
  align-items: start;
  justify-content: space-between;
}

textarea {
    vertical-align: top;
    height: 30px;
  }

#txt{
    border: 1px solid black;    
    display: grid;
  width: 450px;
  height: 100px;
  grid-template-columns: 120px 120px 120px;
  align-items: start;
  justify-content: space-between;
}