<!DOCTYPE html>
<html>

<head>
  <title>Pirogov CS/Dev</title>
  <!-- Bootstrap CSS -->
  
  <!-- Custom CSS -->
  
    <link rel="stylesheet" href="/style/general.css">
    <link rel="stylesheet" href="/style/articles.css">
  <meta name="viewport" content="width=device-width, initial-scale=1">

<link rel="icon" href="/public/img/logo.jpg">
</head>

<body>
  <header>
        <div id="header-container">
            <nav>
                <a href="/articles/">Посты</a>
                <a href="/logs/index.html">Логи</a>
            </nav>
        </div>
    </header>
        <main id="content-container">
          <article>
           
          </article>
        </main>
      </div>

      <div class="column right">
        Обучение не логгировалось :)
      </div>
    </div>
  </body>

</html>