h1 {

}

#Header{
    display: inline-flex;
    justify-content: center;
}

#PostContainer{
    display: inline-block;
    box-sizing: border-box;
    border-style: solid ;
    padding: 25px;
    margin: 50px;
}

.Post{
    display: inline-block;
    justify-content: center;
    box-sizing: border-box;
    margin: auto;
    margin: 5px;
    border-style: solid ;
    background-color: darkgray;
}
.ShowPost{
    display: flex;
    justify-content: center;
}

.PostHeader{
    display: inline;
    justify-content: center;
}

.Form{
    display: flex;
    justify-content: center;
}

.Form input{
    font-size: 20px;
    font-family: "Times New Roman";
    font-style: initial;
}


textarea{
    font-size: 20px;
    font-family: "Times New Roman";
}




